* {
  box-sizing: border-box;
}

.page-wrapper {
  height: 100vh;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

.pac-nan {
  margin: 20px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./supermarket.jpg);
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 650px;
  width: 650px;
  justify-content: space-between;

}

.grid div {
  flex-grow: 1;
  height: 8%;
  width: 8%;
  margin: 1px;
  background-color: white;
  opacity: 70%;
}

.grid div {
  border: 1px solid goldenrod;
}

.grid div.pac {
  background-image: url('./pac-nan.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: 100%;
}

.grid div.roll {
  background-image: url('./toilet-roll.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 100%;
}

.grid div.virus {
  background-image: url('./virus.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 100%;
}

grid div.bananaBread {
  background-image: url('banana-bread.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 100%;
}
