* {
  box-sizing: border-box;
}

.page-wrapper {
  height: 100vh;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

.pac-nan {
  margin: 20px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./supermarket.jpg);
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 560px;
  height: 720px;
  background-color: white;
  opacity: 70%;
}

.grid div {
  flex-grow: 1;
  max-height: 20px;
  max-width: 20px;
}

.grid div.pac {
  background-color: yellow;
  background-size: contain;
  opacity: 100%;
  max-width: 20px;
  max-height: 20px;
}

.grid div.black {
  background-color: black;
}
