* {
  box-sizing: border-box;
}

.page-wrapper {
  height: 100vh;
  background-color: black;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

.pac-nan {
  margin: 20px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./supermarket.jpg);
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 560px;
  height: 720px;
  background-color: white;
  opacity: 75%;
}

.grid div {
  flex-grow: 1;
  height: 20px;
  width: 20px;
  border: 1px white;
}

.grid div.black {
  background-color: black;
  opacity: 100%;
}

.grid div.edges {
  background-color: blue;
}

.grid div.path {
  background-color: black;
  border: 6px solid white;
  border-radius: 50%;
}

.grid div.noDotPath {
  background-color: white;
}

.grid div.doors {
  background-color: rgb(255, 125, 147);
  opacity: 100%;
}
.grid div.lives {
  background-color: yellow;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.pac {
  background-image: url(./pac-nan.png);
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none;
  opacity: 100%;
}

.grid div.virus {
  background-image: url(./virus.png);
  background-size: contain;
  opacity: 100%;
  max-width: 20px;
  max-height: 20px;
  border: none;
}

.grid div.roll {
  background-image: url(./toilet-roll.png);
  background-size: contain;
  max-width: 20px;
  max-height: 20px;
  opacity: 100%;
}

grid div.virusHome {
  background-image: white;
  background-size: contain;
  opacity: 100%;
  max-width: 20px;
  max-height: 20px;
}

.grid div.scared-virus {
  background-image: url(./scared-virus.jpg);
  background-size: contain;
  opacity: 100%;
  max-width: 20px;
  max-height: 20px;
  border: none;
}

.grid div.virus-eaten {
  display: none;
  background-size: contain;
  opacity: 100%;
  max-width: 20px;
  max-height: 20px;
  border: none;
}

.score-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

h1 {
  color: black;
  font-family: Helvetica;
  margin: 20px;
  text-shadow: 2px 2px rgb(248, 208, 31);
}

h2 {
  font-family: Helvetica;
  position: relative;
  z-index: 1;
  margin-top: -65px;
  margin-left: 400px;
  text-shadow: 2px 2px rgb(248, 208, 31);
  transform: rotate(-5deg)
}

button {
  border: none;
  background-color: black;
  color: black;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px rgb(248, 208, 31);
}

button:hover {
  border: 1px black solid;
  border-radius: 5%;
  background-color: white;
  color: black;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;

}

span {
  font-family: Helvetica;
}





